@charset "utf-8";
/* CSS Document */
#container{
	width:500px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
}

.column1 {
	width: 280px;
	height: 300px;
	float: left;
	border: 10px solid black solid;
	margin-left:10px;
	background-color:none;
}

.column2 {
	width: 250px;
	height: 300px;
	float: right;
	border: 10px solid black solid;
	margin-left:10px;
	background-color: none;

}

.footer{
	float: left;
	width: 500px;
	margin-left:10px;
	margin-top:10px;
	height: 30px;
}